/* | COMPONENTS */
button,
input,
select {
    font-family: 'Silkscreen', cursive;
    font-size: 1rem;
    border: none;
    outline: none;
    box-shadow: 2px 2px 0px #595959;
}

button,
input {
    padding: 0.25rem 0.5rem;
}

input,
select {
    color: #595959;
    background-color: whitesmoke;
}

button,
select {
    cursor: pointer;
}

button {
    color: whitesmoke;
    background-color: #18A47C;
}

select {
    padding: 0.25rem 0.25rem;
}

.checkbox {
    width: 1rem;
    height: 1rem;
    background-color: whitesmoke;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #18A47C;
}

button:hover {
    text-decoration: underline;
}

button:active {
    background-color: hsl(163, 50%, 37%);
}

input:focus,
input:hover,
input:active,
select:hover,
select:focus,
select:active {
    outline: 2px solid #18A47C;
}

option:checked {
    background-color: #18A47C;
    color: whitesmoke;
}

hr {
    height: 2px;
    background-color: #595959;
}

/* | HEADER */
header {
    /* border: 2px solid red; */
    
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.brand {
    /* border: 2px solid green; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: min-content;
}

.brand-logo {
    /* border: 2px solid blue; */

    width: 2.5rem;
}

.brand-name {
    /* border: 2px solid purple; */
    line-height: 1rem;
}

.brand-name span {
    font-weight: normal;
    letter-spacing: 0.375rem;
}

nav {
    /* border: 2px solid black; */
    
    border-top: 2px solid #18A47C;
    background-color: #595959;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-left: -1rem;
    padding: 1rem 1rem;
    font-size: 0.85rem;

    /* display: none; */
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* | MAIN */
main {
    /* border: 2px solid green; */

    flex: 1;
    padding: 2rem 1rem;
}

main h1 {
    /* border: 2px solid black; */
    /* margin-top: 1.5rem; */
    text-align: center;
    color: #18A47C;
    text-shadow: 2px 2px 0px #595959;
}

main section {
    margin-top: 2.5rem;
}

/* | DASHBOARD */

.wallet {
    /* border: 2px solid red; */

    /* margin-top: 2.5rem; */
}

.wallet-info {
    border: 2px solid #595959;

    display: flex;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.wallet-info--img {
    /* border: 2px solid black; */

    flex: 0.25;
    background-color: #595959;
    padding: 0.5rem 1.25rem;
    text-align: center;
    border-top-left-radius: 0.8rem;
    
}

.wallet-info--img img {
    width: 5rem;
}

.wallet-info--balance {
    /* border: 2px solid black; */

    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 164, 124, 0.85);
    color: whitesmoke;
    border-bottom-right-radius: 0.95rem;
}

.wallet-info--balance:hover {
    /* border: 2px solid black; */
    background-color: rgba(24, 164, 124, 1);
}

.wallet-info--balance div {
    /* border: 2px solid black; */

    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.wallet-info--balance .icon {
    position: relative;
    top: -0.35rem;
    left: 0.25rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.wallet-info--balance .icon:hover {
    color: #595959;
}

.wallet-transfer {
    border: 3px solid #18A47C;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem
}

.wallet-transfer h3 {
    text-align: center;
}

.wallet-transfer .icon:hover {
    color: #18A47C;
    cursor: pointer;
}

.wallet-transfer-mode {
    color: #18A47C;
}

.wallet-transfer input[type="checkbox"]:checked ~ h3 .wallet-deposit-mode {
    color: #18A47C;
}

.wallet-transfer input[type="checkbox"]:checked ~ h3 .wallet-transfer-mode {
    color: #595959;
}

.wallet-transfer input[type="text"]:disabled {
    color: whitesmoke;
    background-color: #18A47C;
    outline: none;
}

/* | TRANSACTIONS */
.txs {
    /* border: 2px solid red; */

    /* margin-top: 2.5rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tx {
    /* border: 2px solid green; */

    padding: 0.5rem 1rem;
    background-color: whitesmoke;
    box-shadow: 2px 2px 0px #595959;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tx:hover {
    outline: 2px solid #18A47C;
}

.tx-data {
    display: flex;
    justify-content: space-between;
}

.tx-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}

/* | SETTINGS */

.settings {
    /* border: 2px solid red; */

    /* margin-top: 2.5rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settings h3 {
    border-top: 2px solid #595959;
}

.settings-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings-guardians--guardian {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-guardians--add {
    display: flex;
    justify-content: space-between;
}

.settings-guardians--add input {
    width: 75%;
}

.settings-recovery--trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-recovery--trigger-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: end;
}

.settings-recovery--trigger-inputs button {
    width: max-content;
}

.settings-recovery--trigger-inputs input {
    width: 13rem;
}

.settings-recovery--confirmations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-recovery--confirmations div {
    display: flex;
    gap: 0.5rem;
}

.settings-recovery--history a,
.settings-recovery--history a:visited,
.settings-recovery--trigger a,
.settings-recovery--trigger a:visited,
.return-dashboard a,
.return-dashboard a:visited {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    width: 100%;
}

/* | RECOVERY STATS */
.recovery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recovery h3 {
    border-top: 2px solid #595959;
}

.recovery-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recovery-result table th {
    font-size: 0.75rem;
}

.recovery-result table td {
    padding-block: 0.5rem;
}

.recovery-result--guardian-header {
    text-align: start;
}

.recovery-result--vote-header,
.recovery-result table tr td:last-child {
    text-align: end;
}

.recovery-vote--candidate {
    display: flex;
    justify-content: space-between;
}

.recovery-vote--candidate input {
    width: 75%;
}

.recovery-execute--execute {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border: 3px solid #18A47C;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.recovery-execute--execute label {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.recovery-execute--execute hr {
    height: 3px;
    background-color: #595959;
}

/* | RECOVERY HISTORY */
.recovery-history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recovery-round {
    padding: 0.5rem 1rem;
    background-color: whitesmoke;
    box-shadow: 2px 2px 0px #595959;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recovery-round:hover {
    outline: 2px solid #18A47C;
}

.recovery-round--state {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recovery-round--date {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recovery-round--by {
    font-size: 0.65rem;
}

.recovery-round--round {
    color: #18A47C;
    text-shadow: 1px 1px 0px #595959;
}

.recovery-round--ownership span {
    text-decoration: underline;
}

.recovery-round input[type="checkbox"] {
    display: none;
}

.recovery-round--votes {
    color: #18A47C;
    text-shadow: 1px 1px 0px #595959;
    width: max-content;
    align-self: self-end;
    font-weight: bold;
    cursor: pointer;
}

.recovery-round--votes:hover {
    text-decoration: underline;
}

.recovery-round table {
    display: none;
}

.recovery-round table th {
    font-size: 0.75rem;
}

.recovery-round table td {
    padding-block: 0.5rem;
}

.recovery-round--guardian-header {
    text-align: start;
}

.recovery-round--vote-header,
.recovery-round table tr td:last-child {
    text-align: end;
}

.recovery-round input:checked ~ table {
    display: table;
}

.recovery-round hr {
    height: 2px;
    background-color: #595959;
}

/* | FOOTER */
footer {
    border-top: 2px solid #595959;

    padding: 0.5rem 1rem;
    background-color: #18A47C;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 2.75rem;
}

footer .author-ens {
    font-weight: bold;
}

footer .social {
    font-size: 2rem;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: whitesmoke;
}

footer .social-icon:hover {
    cursor: pointer;
    color: #595959;
}

/* | CHAIN CHANGE */
.chain-change {
    /* border: 2px solid red; */
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 164, 124, 0.75);
    z-index: 2;
}

.chain-change div {
    /* border: 2px solid rosybrown; */
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 2rem;
    background-color: whitesmoke;
    box-shadow: 2px 2px 0px #595959;
}

/* | LOADER */
.dank-ass-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(89, 89, 89, 0.95);
}
.dank-ass-loader h1 {
    text-align: center;
    color: #18A47C;
    text-shadow: 1px 1px 0px whitesmoke;
    margin-bottom: 2rem;
}

.dank-ass-loader .row {
    display: flex;
}
.arrow {
    width: 0;
    height: 0;
    margin: 0 -17.5px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #18A47C;
    animation: blink 1s infinite;
    filter: drop-shadow(0 0 18px #18A47C);
}
.arrow.down {
    transform: rotate(180deg);
}
.arrow.outer-1 {
    animation-delay: -0.0555555556s;
}
.arrow.outer-2 {
    animation-delay: -0.1111111111s;
}
.arrow.outer-3 {
    animation-delay: -0.1666666667s;
}
.arrow.outer-4 {
    animation-delay: -0.2222222222s;
}
.arrow.outer-5 {
    animation-delay: -0.2777777778s;
}
.arrow.outer-6 {
    animation-delay: -0.3333333333s;
}
.arrow.outer-7 {
    animation-delay: -0.3888888889s;
}
.arrow.outer-8 {
    animation-delay: -0.4444444444s;
}
.arrow.outer-9 {
    animation-delay: -0.5s;
}
.arrow.outer-10 {
    animation-delay: -0.5555555556s;
}
.arrow.outer-11 {
    animation-delay: -0.6111111111s;
}
.arrow.outer-12 {
    animation-delay: -0.6666666667s;
}
.arrow.outer-13 {
    animation-delay: -0.7222222222s;
}
.arrow.outer-14 {
    animation-delay: -0.7777777778s;
}
.arrow.outer-15 {
    animation-delay: -0.8333333333s;
}
.arrow.outer-16 {
    animation-delay: -0.8888888889s;
}
.arrow.outer-17 {
    animation-delay: -0.9444444444s;
}
.arrow.outer-18 {
    animation-delay: -1s;
}
.arrow.inner-1 {
    animation-delay: -0.1666666667s;
}
.arrow.inner-2 {
    animation-delay: -0.3333333333s;
}
.arrow.inner-3 {
    animation-delay: -0.5s;
}
.arrow.inner-4 {
    animation-delay: -0.6666666667s;
}
.arrow.inner-5 {
    animation-delay: -0.8333333333s;
}
.arrow.inner-6 {
    animation-delay: -1s;
}
@keyframes blink {
    0% {
        opacity: 0.1;
   }
    30% {
        opacity: 1;
   }
    100% {
        opacity: 0.1;
   }
}

/* || SMALL */
@media screen and (min-width: 576px) {
    header {
        padding: 0.5rem 3rem;
    }
    main {
        padding: 2rem 3rem;
    }
    nav {
        margin-left: -3rem;
    }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    main {
        padding: 2rem 7.5rem;
    }

    nav {
        /* border: 2px solid black; */
        
        border-top: none;
        background-color: transparent;
        position: static;
        bottom: 0;
        flex: 1;
        margin-left: 0rem;
        padding: 0rem 0rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    nav ul {
        flex: 1;
        justify-content: flex-start;
        column-gap: 1rem;
        padding-left: 1rem;
    }

    nav ul li a {
        color: #595959;
    }

    footer {
        margin-bottom: 0;
    }
}

/* || LARGE */
@media screen and (min-width: 992px) {
    main {
        padding: 2rem 10rem;
    }

    nav ul {
        column-gap: 1.5rem;
        padding-left: 1.5rem;
    }

    .wallet {
        display: flex;
        column-gap: 5rem;
    }

    .wallet-info {
        flex: 0.4;
        flex-direction: column;
    }

    .wallet-transfer {
        flex:0.6;
    }

    .recovery-round--date {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    
}

/* || XL */
@media screen and (min-width: 1200px) {
    main {
        padding: 2rem 17.5rem;
    }

    nav ul {
        column-gap: 2rem;
        padding-left: 2rem;
    }
}