@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* || MAIN STYLE */

body {
    /* border: 2px solid purple; */

    font-family: 'Silkscreen', cursive;
    font-size: 1rem;
    cursor: default;
    background: linear-gradient(#A1FFCE, #FAFFD1);
    color: #595959;
    min-height: 100vh;
}

#root {
    /* border: 2px solid gray; */

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
